In [2]:
%load_ext autoreload
%autoreload 2

import logging
import os
import sys
import time
    
wd = os.path.abspath("__file__").replace("/__file__", "").replace("notebooks", "")
os.chdir(wd)

import numpy as np
import pandas as pd

from datetime import datetime, date
from logging.handlers import TimedRotatingFileHandler


from bok.api import Bok
from bok.utils import get_jinja_yaml_conf, create_db_engine, Postgres_connect
from bok.processing import get_statdate_table

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
# os.chdir(os.path.dirname(__file__))
conf = get_jinja_yaml_conf('./conf/api.yml', './conf/logging.yml')
end_date = datetime.now().date() 


# logger 설정
logger = logging.getLogger('main')
logging.basicConfig(level=eval(conf['logging']['level']),
    format=conf['logging']['format'],
    handlers = [TimedRotatingFileHandler(filename =  conf['logging']['file_name'],
                                when=conf['logging']['when'],
                                interval=conf['logging']['interval'],
                                backupCount=conf['logging']['backupCount']), logging.StreamHandler()]
                )

In [4]:
# Only for notebooks
import re

os.environ['_ts'] = datetime.astimezone(datetime.now()).strftime('%Y-%m-%d %H:%m:%S %z')

with open('./conf/credentials', "r") as file:
    # 각 라인 읽기
    for line in file:
        # 주석(#) 또는 빈 줄은 무시
        if line.strip() == '' or line.startswith('#'):
            continue

        # 각 라인을 '='를 기준으로 key와 value로 분리
        key, value = line.strip().split('=', 1)

        # $ENV 형식의 환경변수가 있을 경우 해당 값을 가져와서 설정
        env_var_pattern = re.compile(r'\$(\w+)')
        matches = env_var_pattern.findall(value)
        for match in matches:
            value = value.replace(f"${match}", os.environ.get(match, "")).replace('"', '')

        # 환경변수로 설정
        os.environ[key] = value

engine = create_db_engine(os.environ)
postgres_conn = Postgres_connect(engine)
bok = Bok(auth_key = os.environ['auth_key'])

2024-04-09 15:33:54,208 (utils.py 53) INFO ::: Connect to 172.20.10.3. DB_NAME is economics

# 1. statistic_list

In [20]:
stat_list = bok.get_statistic_list(rename = conf['data']['stat_list']['rename'], _ts = os.environ['_ts'])

upload_stat_list = ext_notin_db(db_conn = postgres_conn,
    schema = conf['schema_name'],
    table = conf['data']['stat_list']['table_name'],
    data = stat_list,
    subset = conf['data']['stat_list']['dup_cols'])

upload_rows = upload_stat_list.to_sql(conf['data']['stat_list']['table_name'], schema = conf['schema_name'], con = engine, index = False, if_exists = "append")

# 2. 통계용어사전

In [55]:
_ts

'2024-02-11 00:02:1707577820 +0900'

In [45]:
import requests
import json
date = None
_ts = os.environ['_ts']

date = date if date else pd.to_datetime(_ts).strftime('%Y%m%d')

params = {
  "header": {
    "guidSeq": 1,
    "trxCd": "OSUSD01R01",
    "sysCd": "03",
    "fstChnCd": "WEB",
    "langDvsnCd": "KO",
    "envDvsnCd": "D",
    "sndRspnDvsnCd": "S",
    "sndDtm": '15000424',
    "usrId": "IECOSPC",
    "pageNum": 1,
    "pageCnt": 1000
  },
  "data": {
  }
}


# GET 요청 보내기
response = requests.post('https://ecos.bok.or.kr/serviceEndpoint/httpService/request.json', json = params)
words = json.loads(response.text)
data = pd.DataFrame(words['data']['statTermList']).rename(columns = conf['data']['stat_word']['rename'])
data = data[conf['data']['stat_word']['rename'].values()]
data['_ts'] = _ts

In [77]:
isinstance(pd.to_datetime(data['수정날짜'].iloc[0]).date(), (datetime, date))

True

In [64]:
data['수정날짜'].map(lambda x: pd.to_datetime(x))

0     2007-04-24 00:00:00
1     2023-05-19 13:00:50
2     2007-02-04 21:44:30
3     2007-02-04 20:29:35
4     2024-01-22 11:26:21
              ...
787   2007-02-04 21:44:30
788   2007-02-04 21:44:30
789   2010-08-30 00:00:00
790   2022-07-01 10:56:56
791   2022-07-01 10:56:57
Name: 수정날짜, Length: 792, dtype: datetime64[ns]

In [50]:
conf['data']['stat_word']['rename'].keys()

dict_keys(['statTermId', 'statTermNm', 'statTermEngNm', 'statTermDesc', 'zRegDtm', 'zModDtm'])

# 3. 통계 세부항목 목록

In [21]:
stat_list = postgres_conn.get_data(schema_name = conf['schema_name'],
            table_name = conf['data']['stat_list']['table_name'],
            columns = ['통계표코드'],
            where = ["검색가능여부 = 'Y'"], is_orderby = True).to_numpy().ravel()

In [35]:
upload_rows = 0
for stat in stat_list:
    logger.info(f"Upload {stat} starts!")
    stat_item = bok.get_statistic_item(stat, _ts = os.environ['_ts'], rename = conf['data']['stat_item']['rename'])

    upload_stat_item = ext_notin_db(db_conn = postgres_conn,
            schema = conf['schema_name'],
            table = conf['data']['stat_item']['table_name'],
            data = stat_item,
            subset = conf['data']['stat_item']['dup_cols'])

    upload_rows += postgres_conn.upsert(data = upload_stat_item,
                     schema_name = conf['schema_name'],
                     table_name = conf['data']['stat_item']['table_name'])



logger.info(f"Insert rows: {upload_rows}.")

2024-02-05 13:22:05,156 (3572690103.py 2) INFO ::: Upload 901Y012 starts!
2024-02-05 13:22:05,935 (3572690103.py 15) INFO ::: Insert rows: 0.
2024-02-05 13:22:05,936 (3572690103.py 2) INFO ::: Upload 303Y001 starts!
2024-02-05 13:22:06,817 (3572690103.py 15) INFO ::: Insert rows: 336.
2024-02-05 13:22:06,818 (3572690103.py 2) INFO ::: Upload 303Y002 starts!
2024-02-05 13:22:07,620 (3572690103.py 15) INFO ::: Insert rows: 252.
2024-02-05 13:22:07,620 (3572690103.py 2) INFO ::: Upload 303Y003 starts!
2024-02-05 13:22:08,389 (3572690103.py 15) INFO ::: Insert rows: 120.
2024-02-05 13:22:08,390 (3572690103.py 2) INFO ::: Upload 303Y004 starts!
2024-02-05 13:22:09,226 (3572690103.py 15) INFO ::: Insert rows: 336.
2024-02-05 13:22:09,227 (3572690103.py 2) INFO ::: Upload 303Y005 starts!
2024-02-05 13:22:10,037 (3572690103.py 15) INFO ::: Insert rows: 252.
2024-02-05 13:22:10,037 (3572690103.py 2) INFO ::: Upload 303Y006 starts!
2024-02-05 13:22:11,051 (3572690103.py 15) INFO ::: Insert rows: 108.
2024-02-05 13:22:11,052 (3572690103.py 2) INFO ::: Upload 403Y001 starts!
2024-02-05 13:22:11,954 (3572690103.py 15) INFO ::: Insert rows: 714.
2024-02-05 13:22:11,955 (3572690103.py 2) INFO ::: Upload 403Y002 starts!
2024-02-05 13:22:12,888 (3572690103.py 15) INFO ::: Insert rows: 714.
2024-02-05 13:22:12,888 (3572690103.py 2) INFO ::: Upload 403Y003 starts!
2024-02-05 13:22:13,834 (3572690103.py 15) INFO ::: Insert rows: 822.
2024-02-05 13:22:13,835 (3572690103.py 2) INFO ::: Upload 403Y004 starts!
2024-02-05 13:22:14,779 (3572690103.py 15) INFO ::: Insert rows: 822.
2024-02-05 13:22:14,779 (3572690103.py 2) INFO ::: Upload 403Y005 starts!
2024-02-05 13:22:15,524 (3572690103.py 15) INFO ::: Insert rows: 6.
2024-02-05 13:22:15,524 (3572690103.py 2) INFO ::: Upload 901Y060 starts!
2024-02-05 13:22:16,274 (3572690103.py 15) INFO ::: Insert rows: 32.
2024-02-05 13:22:16,274 (3572690103.py 2) INFO ::: Upload 901Y061 starts!
2024-02-05 13:22:17,028 (3572690103.py 15) INFO ::: Insert rows: 32.
2024-02-05 13:22:17,028 (3572690103.py 2) INFO ::: Upload 732Y001 starts!
2024-02-05 13:22:17,768 (3572690103.py 15) INFO ::: Insert rows: 15.
2024-02-05 13:22:17,768 (3572690103.py 2) INFO ::: Upload 404Y014 starts!
2024-02-05 13:22:18,857 (3572690103.py 15) INFO ::: Insert rows: 584.
2024-02-05 13:22:18,857 (3572690103.py 2) INFO ::: Upload 404Y015 starts!
2024-02-05 13:22:19,618 (3572690103.py 15) INFO ::: Insert rows: 33.
2024-02-05 13:22:19,618 (3572690103.py 2) INFO ::: Upload 404Y016 starts!
2024-02-05 13:22:20,952 (3572690103.py 15) INFO ::: Insert rows: 715.
2024-02-05 13:22:20,952 (3572690103.py 2) INFO ::: Upload 404Y017 starts!
2024-02-05 13:22:21,703 (3572690103.py 15) INFO ::: Insert rows: 3.
2024-02-05 13:22:21,703 (3572690103.py 2) INFO ::: Upload 405Y006 starts!
2024-02-05 13:22:22,486 (3572690103.py 15) INFO ::: Insert rows: 180.
2024-02-05 13:22:22,487 (3572690103.py 2) INFO ::: Upload 405Y007 starts!
2024-02-05 13:22:23,540 (3572690103.py 15) INFO ::: Insert rows: 192.
2024-02-05 13:22:23,541 (3572690103.py 2) INFO ::: Upload 901Y009 starts!
2024-02-05 13:22:25,178 (3572690103.py 15) INFO ::: Insert rows: 743.
2024-02-05 13:22:25,178 (3572690103.py 2) INFO ::: Upload 901Y010 starts!
2024-02-05 13:22:25,966 (3572690103.py 15) INFO ::: Insert rows: 103.
2024-02-05 13:22:25,966 (3572690103.py 2) INFO ::: Upload 402Y014 starts!
2024-02-05 13:22:27,152 (3572690103.py 15) INFO ::: Insert rows: 723.
2024-02-05 13:22:27,152 (3572690103.py 2) INFO ::: Upload 402Y015 starts!
2024-02-05 13:22:27,960 (3572690103.py 15) INFO ::: Insert rows: 72.
2024-02-05 13:22:27,961 (3572690103.py 2) INFO ::: Upload 402Y016 starts!
2024-02-05 13:22:29,195 (3572690103.py 15) INFO ::: Insert rows: 657.
2024-02-05 13:22:29,195 (3572690103.py 2) INFO ::: Upload 401Y015 starts!
2024-02-05 13:22:30,400 (3572690103.py 15) INFO ::: Insert rows: 831.
2024-02-05 13:22:30,401 (3572690103.py 2) INFO ::: Upload 401Y016 starts!
2024-02-05 13:22:31,246 (3572690103.py 15) INFO ::: Insert rows: 96.
2024-02-05 13:22:31,246 (3572690103.py 2) INFO ::: Upload 401Y017 starts!
2024-02-05 13:22:32,405 (3572690103.py 15) INFO ::: Insert rows: 729.
2024-02-05 13:22:32,406 (3572690103.py 2) INFO ::: Upload 401Y018 starts!
2024-02-05 13:22:33,503 (3572690103.py 15) INFO ::: Insert rows: 555.
2024-02-05 13:22:33,504 (3572690103.py 2) INFO ::: Upload 901Y062 starts!
2024-02-05 13:22:34,265 (3572690103.py 15) INFO ::: Insert rows: 6.
2024-02-05 13:22:34,266 (3572690103.py 2) INFO ::: Upload 901Y063 starts!
2024-02-05 13:22:35,289 (3572690103.py 15) INFO ::: Insert rows: 6.
2024-02-05 13:22:35,289 (3572690103.py 2) INFO ::: Upload 901Y064 starts!
2024-02-05 13:22:36,061 (3572690103.py 15) INFO ::: Insert rows: 36.
2024-02-05 13:22:36,061 (3572690103.py 2) INFO ::: Upload 901Y093 starts!
2024-02-05 13:22:36,886 (3572690103.py 15) INFO ::: Insert rows: 28.
2024-02-05 13:22:36,887 (3572690103.py 2) INFO ::: Upload 901Y094 starts!
2024-02-05 13:22:37,661 (3572690103.py 15) INFO ::: Insert rows: 28.
2024-02-05 13:22:37,661 (3572690103.py 2) INFO ::: Upload 902Y001 starts!
2024-02-05 13:22:37,727 (api.py 82) WARNING ::: {'CODE': 'INFO-200', 'MESSAGE': '해당하는 데이터가 없습니다.'}
2024-02-05 13:22:37,789 (3572690103.py 15) INFO ::: Insert rows: 0.
2024-02-05 13:22:37,790 (3572690103.py 2) INFO ::: Upload 901Y095 starts!
2024-02-05 13:22:38,568 (3572690103.py 15) INFO ::: Insert rows: 28.
2024-02-05 13:22:38,568 (3572690103.py 2) INFO ::: Upload 901Y089 starts!
2024-02-05 13:22:39,350 (3572690103.py 15) INFO ::: Insert rows: 28.
2024-02-05 13:22:39,350 (3572690103.py 2) INFO ::: Upload 901Y096 starts!
2024-02-05 13:22:40,111 (3572690103.py 15) INFO ::: Insert rows: 17.
2024-02-05 13:22:40,111 (3572690103.py 2) INFO ::: Upload 901Y097 starts!
2024-02-05 13:22:41,136 (3572690103.py 15) INFO ::: Insert rows: 18.
2024-02-05 13:22:41,136 (3572690103.py 2) INFO ::: Upload 501Y011 starts!
2024-02-05 13:22:41,906 (3572690103.py 15) INFO ::: Insert rows: 17.
2024-02-05 13:22:41,906 (3572690103.py 2) INFO ::: Upload 501Y017 starts!
2024-02-05 13:22:42,675 (3572690103.py 15) INFO ::: Insert rows: 17.
2024-02-05 13:22:42,675 (3572690103.py 2) INFO ::: Upload 501Y018 starts!
2024-02-05 13:22:43,443 (3572690103.py 15) INFO ::: Insert rows: 19.
2024-02-05 13:22:43,444 (3572690103.py 2) INFO ::: Upload 501Y005 starts!
2024-02-05 13:22:44,497 (3572690103.py 15) INFO ::: Insert rows: 150.
2024-02-05 13:22:44,497 (3572690103.py 2) INFO ::: Upload 501Y019 starts!
2024-02-05 13:22:45,523 (3572690103.py 15) INFO ::: Insert rows: 148.
2024-02-05 13:22:45,524 (3572690103.py 2) INFO ::: Upload 501Y020 starts!
2024-02-05 13:22:46,524 (3572690103.py 15) INFO ::: Insert rows: 148.
2024-02-05 13:22:46,524 (3572690103.py 2) INFO ::: Upload 501Y021 starts!
2024-02-05 13:22:47,527 (3572690103.py 15) INFO ::: Insert rows: 138.
2024-02-05 13:22:47,528 (3572690103.py 2) INFO ::: Upload 501Y022 starts!
2024-02-05 13:22:48,808 (3572690103.py 15) INFO ::: Insert rows: 159.
2024-02-05 13:22:48,808 (3572690103.py 2) INFO ::: Upload 501Y023 starts!
2024-02-05 13:22:49,933 (3572690103.py 15) INFO ::: Insert rows: 162.
2024-02-05 13:22:49,933 (3572690103.py 2) INFO ::: Upload 501Y006 starts!
2024-02-05 13:22:52,462 (3572690103.py 15) INFO ::: Insert rows: 178.
2024-02-05 13:22:52,463 (3572690103.py 2) INFO ::: Upload 501Y024 starts!
2024-02-05 13:22:55,069 (3572690103.py 15) INFO ::: Insert rows: 176.
2024-02-05 13:22:55,069 (3572690103.py 2) INFO ::: Upload 501Y025 starts!
2024-02-05 13:22:57,459 (3572690103.py 15) INFO ::: Insert rows: 176.
2024-02-05 13:22:57,460 (3572690103.py 2) INFO ::: Upload 501Y026 starts!
2024-02-05 13:22:59,865 (3572690103.py 15) INFO ::: Insert rows: 166.
2024-02-05 13:22:59,866 (3572690103.py 2) INFO ::: Upload 501Y027 starts!
2024-02-05 13:23:02,881 (3572690103.py 15) INFO ::: Insert rows: 198.
2024-02-05 13:23:02,882 (3572690103.py 2) INFO ::: Upload 501Y028 starts!
2024-02-05 13:23:05,076 (3572690103.py 15) INFO ::: Insert rows: 185.
2024-02-05 13:23:05,076 (3572690103.py 2) INFO ::: Upload 501Y007 starts!
2024-02-05 13:23:06,520 (3572690103.py 15) INFO ::: Insert rows: 157.
2024-02-05 13:23:06,521 (3572690103.py 2) INFO ::: Upload 501Y029 starts!
2024-02-05 13:23:08,117 (3572690103.py 15) INFO ::: Insert rows: 155.
2024-02-05 13:23:08,117 (3572690103.py 2) INFO ::: Upload 501Y030 starts!
2024-02-05 13:23:09,417 (3572690103.py 15) INFO ::: Insert rows: 155.
2024-02-05 13:23:09,417 (3572690103.py 2) INFO ::: Upload 501Y031 starts!
2024-02-05 13:23:10,688 (3572690103.py 15) INFO ::: Insert rows: 145.
2024-02-05 13:23:10,689 (3572690103.py 2) INFO ::: Upload 501Y032 starts!
2024-02-05 13:23:12,129 (3572690103.py 15) INFO ::: Insert rows: 169.
2024-02-05 13:23:12,129 (3572690103.py 2) INFO ::: Upload 501Y033 starts!
2024-02-05 13:23:13,407 (3572690103.py 15) INFO ::: Insert rows: 167.
2024-02-05 13:23:13,407 (3572690103.py 2) INFO ::: Upload 501Y008 starts!
2024-02-05 13:23:14,613 (3572690103.py 15) INFO ::: Insert rows: 154.
2024-02-05 13:23:14,614 (3572690103.py 2) INFO ::: Upload 501Y034 starts!
2024-02-05 13:23:15,816 (3572690103.py 15) INFO ::: Insert rows: 152.
2024-02-05 13:23:15,817 (3572690103.py 2) INFO ::: Upload 501Y035 starts!
2024-02-05 13:23:16,987 (3572690103.py 15) INFO ::: Insert rows: 152.
2024-02-05 13:23:16,987 (3572690103.py 2) INFO ::: Upload 501Y036 starts!
2024-02-05 13:23:18,415 (3572690103.py 15) INFO ::: Insert rows: 142.
2024-02-05 13:23:18,416 (3572690103.py 2) INFO ::: Upload 501Y037 starts!
2024-02-05 13:23:19,674 (3572690103.py 15) INFO ::: Insert rows: 164.
2024-02-05 13:23:19,674 (3572690103.py 2) INFO ::: Upload 501Y038 starts!
2024-02-05 13:23:20,823 (3572690103.py 15) INFO ::: Insert rows: 163.
2024-02-05 13:23:20,823 (3572690103.py 2) INFO ::: Upload 501Y009 starts!
2024-02-05 13:23:21,824 (3572690103.py 15) INFO ::: Insert rows: 149.
2024-02-05 13:23:21,825 (3572690103.py 2) INFO ::: Upload 501Y039 starts!
2024-02-05 13:23:22,805 (3572690103.py 15) INFO ::: Insert rows: 147.
2024-02-05 13:23:22,805 (3572690103.py 2) INFO ::: Upload 501Y040 starts!
2024-02-05 13:23:23,820 (3572690103.py 15) INFO ::: Insert rows: 147.
2024-02-05 13:23:23,820 (3572690103.py 2) INFO ::: Upload 501Y041 starts!
2024-02-05 13:23:24,978 (3572690103.py 15) INFO ::: Insert rows: 140.
2024-02-05 13:23:24,979 (3572690103.py 2) INFO ::: Upload 501Y042 starts!
2024-02-05 13:23:26,298 (3572690103.py 15) INFO ::: Insert rows: 161.
2024-02-05 13:23:26,299 (3572690103.py 2) INFO ::: Upload 501Y043 starts!
2024-02-05 13:23:27,710 (3572690103.py 15) INFO ::: Insert rows: 161.
2024-02-05 13:23:27,710 (3572690103.py 2) INFO ::: Upload 501Y044 starts!
2024-02-05 13:23:28,906 (3572690103.py 15) INFO ::: Insert rows: 164.
2024-02-05 13:23:28,906 (3572690103.py 2) INFO ::: Upload 501Y086 starts!
2024-02-05 13:23:30,327 (3572690103.py 15) INFO ::: Insert rows: 79.
2024-02-05 13:23:30,328 (3572690103.py 2) INFO ::: Upload 502Y001 starts!
2024-02-05 13:23:31,116 (3572690103.py 15) INFO ::: Insert rows: 26.
2024-02-05 13:23:31,117 (3572690103.py 2) INFO ::: Upload 502Y002 starts!
2024-02-05 13:23:31,925 (3572690103.py 15) INFO ::: Insert rows: 30.
2024-02-05 13:23:31,925 (3572690103.py 2) INFO ::: Upload 502Y003 starts!
2024-02-05 13:23:32,725 (3572690103.py 15) INFO ::: Insert rows: 28.
2024-02-05 13:23:32,726 (3572690103.py 2) INFO ::: Upload 502Y004 starts!
2024-02-05 13:23:33,508 (3572690103.py 15) INFO ::: Insert rows: 25.
2024-02-05 13:23:33,509 (3572690103.py 2) INFO ::: Upload 501Y001 starts!
2024-02-05 13:23:36,943 (3572690103.py 15) INFO ::: Insert rows: 185.
2024-02-05 13:23:36,944 (3572690103.py 2) INFO ::: Upload 501Y049 starts!
2024-02-05 13:23:39,681 (3572690103.py 15) INFO ::: Insert rows: 183.
2024-02-05 13:23:39,681 (3572690103.py 2) INFO ::: Upload 501Y050 starts!
2024-02-05 13:23:42,476 (3572690103.py 15) INFO ::: Insert rows: 183.
2024-02-05 13:23:42,477 (3572690103.py 2) INFO ::: Upload 501Y051 starts!
2024-02-05 13:23:45,285 (3572690103.py 15) INFO ::: Insert rows: 175.
2024-02-05 13:23:45,286 (3572690103.py 2) INFO ::: Upload 501Y052 starts!
2024-02-05 13:23:48,689 (3572690103.py 15) INFO ::: Insert rows: 207.
2024-02-05 13:23:48,690 (3572690103.py 2) INFO ::: Upload 501Y053 starts!
2024-02-05 13:23:51,482 (3572690103.py 15) INFO ::: Insert rows: 160.
2024-02-05 13:23:51,482 (3572690103.py 2) INFO ::: Upload 501Y054 starts!
2024-02-05 13:23:54,485 (3572690103.py 15) INFO ::: Insert rows: 196.
2024-02-05 13:23:54,485 (3572690103.py 2) INFO ::: Upload 501Y055 starts!
2024-02-05 13:23:59,092 (3572690103.py 15) INFO ::: Insert rows: 202.
2024-02-05 13:23:59,093 (3572690103.py 2) INFO ::: Upload 501Y002 starts!
2024-02-05 13:24:02,159 (3572690103.py 15) INFO ::: Insert rows: 180.
2024-02-05 13:24:02,160 (3572690103.py 2) INFO ::: Upload 501Y056 starts!
2024-02-05 13:24:04,632 (3572690103.py 15) INFO ::: Insert rows: 178.
2024-02-05 13:24:04,632 (3572690103.py 2) INFO ::: Upload 501Y057 starts!
2024-02-05 13:24:06,917 (3572690103.py 15) INFO ::: Insert rows: 178.
2024-02-05 13:24:06,918 (3572690103.py 2) INFO ::: Upload 501Y058 starts!
2024-02-05 13:24:10,097 (3572690103.py 15) INFO ::: Insert rows: 179.
2024-02-05 13:24:10,098 (3572690103.py 2) INFO ::: Upload 501Y059 starts!
2024-02-05 13:24:13,292 (3572690103.py 15) INFO ::: Insert rows: 200.
2024-02-05 13:24:13,293 (3572690103.py 2) INFO ::: Upload 501Y060 starts!
2024-02-05 13:24:15,901 (3572690103.py 15) INFO ::: Insert rows: 160.
2024-02-05 13:24:15,901 (3572690103.py 2) INFO ::: Upload 501Y061 starts!
2024-02-05 13:24:18,696 (3572690103.py 15) INFO ::: Insert rows: 192.
2024-02-05 13:24:18,697 (3572690103.py 2) INFO ::: Upload 501Y062 starts!
2024-02-05 13:24:22,549 (3572690103.py 15) INFO ::: Insert rows: 187.
2024-02-05 13:24:22,549 (3572690103.py 2) INFO ::: Upload 501Y003 starts!
2024-02-05 13:24:24,269 (3572690103.py 15) INFO ::: Insert rows: 164.
2024-02-05 13:24:24,269 (3572690103.py 2) INFO ::: Upload 501Y063 starts!
2024-02-05 13:24:25,855 (3572690103.py 15) INFO ::: Insert rows: 162.
2024-02-05 13:24:25,855 (3572690103.py 2) INFO ::: Upload 501Y064 starts!
2024-02-05 13:24:27,431 (3572690103.py 15) INFO ::: Insert rows: 162.
2024-02-05 13:24:27,431 (3572690103.py 2) INFO ::: Upload 501Y065 starts!
2024-02-05 13:24:28,969 (3572690103.py 15) INFO ::: Insert rows: 152.
2024-02-05 13:24:28,970 (3572690103.py 2) INFO ::: Upload 501Y066 starts!
2024-02-05 13:24:30,508 (3572690103.py 15) INFO ::: Insert rows: 172.
2024-02-05 13:24:30,509 (3572690103.py 2) INFO ::: Upload 501Y067 starts!
2024-02-05 13:24:33,177 (3572690103.py 15) INFO ::: Insert rows: 174.
2024-02-05 13:24:33,177 (3572690103.py 2) INFO ::: Upload 501Y004 starts!
2024-02-05 13:24:34,640 (3572690103.py 15) INFO ::: Insert rows: 158.
2024-02-05 13:24:34,640 (3572690103.py 2) INFO ::: Upload 501Y068 starts!
2024-02-05 13:24:36,007 (3572690103.py 15) INFO ::: Insert rows: 156.
2024-02-05 13:24:36,007 (3572690103.py 2) INFO ::: Upload 501Y069 starts!
2024-02-05 13:24:37,363 (3572690103.py 15) INFO ::: Insert rows: 156.
2024-02-05 13:24:37,363 (3572690103.py 2) INFO ::: Upload 501Y070 starts!
2024-02-05 13:24:38,722 (3572690103.py 15) INFO ::: Insert rows: 147.
2024-02-05 13:24:38,723 (3572690103.py 2) INFO ::: Upload 501Y071 starts!
2024-02-05 13:24:40,096 (3572690103.py 15) INFO ::: Insert rows: 167.
2024-02-05 13:24:40,096 (3572690103.py 2) INFO ::: Upload 501Y072 starts!
2024-02-05 13:24:41,454 (3572690103.py 15) INFO ::: Insert rows: 169.
2024-02-05 13:24:41,455 (3572690103.py 2) INFO ::: Upload 501Y010 starts!
2024-02-05 13:24:42,777 (3572690103.py 15) INFO ::: Insert rows: 149.
2024-02-05 13:24:42,778 (3572690103.py 2) INFO ::: Upload 501Y073 starts!
2024-02-05 13:24:43,782 (3572690103.py 15) INFO ::: Insert rows: 147.
2024-02-05 13:24:43,783 (3572690103.py 2) INFO ::: Upload 501Y074 starts!
2024-02-05 13:24:44,784 (3572690103.py 15) INFO ::: Insert rows: 147.
2024-02-05 13:24:44,784 (3572690103.py 2) INFO ::: Upload 501Y075 starts!
2024-02-05 13:24:45,840 (3572690103.py 15) INFO ::: Insert rows: 137.
2024-02-05 13:24:45,840 (3572690103.py 2) INFO ::: Upload 501Y076 starts!
2024-02-05 13:24:47,038 (3572690103.py 15) INFO ::: Insert rows: 158.
2024-02-05 13:24:47,038 (3572690103.py 2) INFO ::: Upload 501Y077 starts!
2024-02-05 13:24:48,086 (3572690103.py 15) INFO ::: Insert rows: 159.
2024-02-05 13:24:48,087 (3572690103.py 2) INFO ::: Upload 501Y078 starts!
2024-02-05 13:24:49,146 (3572690103.py 15) INFO ::: Insert rows: 160.
2024-02-05 13:24:49,146 (3572690103.py 2) INFO ::: Upload 501Y013 starts!
2024-02-05 13:24:51,796 (3572690103.py 15) INFO ::: Insert rows: 44.
2024-02-05 13:24:51,796 (3572690103.py 2) INFO ::: Upload 501Y079 starts!
2024-02-05 13:24:53,427 (3572690103.py 15) INFO ::: Insert rows: 84.
2024-02-05 13:24:53,427 (3572690103.py 2) INFO ::: Upload 501Y080 starts!
2024-02-05 13:24:56,913 (3572690103.py 15) INFO ::: Insert rows: 91.
2024-02-05 13:24:56,913 (3572690103.py 2) INFO ::: Upload 501Y014 starts!
2024-02-05 13:24:58,040 (3572690103.py 15) INFO ::: Insert rows: 52.
2024-02-05 13:24:58,040 (3572690103.py 2) INFO ::: Upload 501Y081 starts!
2024-02-05 13:24:58,972 (3572690103.py 15) INFO ::: Insert rows: 44.
2024-02-05 13:24:58,972 (3572690103.py 2) INFO ::: Upload 501Y082 starts!
2024-02-05 13:25:00,103 (3572690103.py 15) INFO ::: Insert rows: 51.
2024-02-05 13:25:00,103 (3572690103.py 2) INFO ::: Upload 501Y015 starts!
2024-02-05 13:25:01,444 (3572690103.py 15) INFO ::: Insert rows: 8.
2024-02-05 13:25:01,444 (3572690103.py 2) INFO ::: Upload 501Y083 starts!
2024-02-05 13:25:02,406 (3572690103.py 15) INFO ::: Insert rows: 44.
2024-02-05 13:25:02,406 (3572690103.py 2) INFO ::: Upload 501Y084 starts!
2024-02-05 13:25:03,485 (3572690103.py 15) INFO ::: Insert rows: 47.
2024-02-05 13:25:03,485 (3572690103.py 2) INFO ::: Upload 503Y005 starts!
2024-02-05 13:25:06,322 (3572690103.py 15) INFO ::: Insert rows: 160.
2024-02-05 13:25:06,323 (3572690103.py 2) INFO ::: Upload 503Y006 starts!
2024-02-05 13:25:17,126 (3572690103.py 15) INFO ::: Insert rows: 188.
2024-02-05 13:25:17,127 (3572690103.py 2) INFO ::: Upload 503Y007 starts!
2024-02-05 13:25:21,924 (3572690103.py 15) INFO ::: Insert rows: 167.
2024-02-05 13:25:21,925 (3572690103.py 2) INFO ::: Upload 503Y008 starts!
2024-02-05 13:25:26,005 (3572690103.py 15) INFO ::: Insert rows: 164.
2024-02-05 13:25:26,006 (3572690103.py 2) INFO ::: Upload 503Y009 starts!
2024-02-05 13:25:28,529 (3572690103.py 15) INFO ::: Insert rows: 159.
2024-02-05 13:25:28,529 (3572690103.py 2) INFO ::: Upload 503Y010 starts!
2024-02-05 13:25:30,756 (3572690103.py 15) INFO ::: Insert rows: 159.
2024-02-05 13:25:30,757 (3572690103.py 2) INFO ::: Upload 503Y001 starts!
2024-02-05 13:25:43,539 (3572690103.py 15) INFO ::: Insert rows: 195.
2024-02-05 13:25:43,539 (3572690103.py 2) INFO ::: Upload 503Y002 starts!
2024-02-05 13:25:54,940 (3572690103.py 15) INFO ::: Insert rows: 190.
2024-02-05 13:25:54,941 (3572690103.py 2) INFO ::: Upload 503Y003 starts!
2024-02-05 13:26:01,536 (3572690103.py 15) INFO ::: Insert rows: 174.
2024-02-05 13:26:01,537 (3572690103.py 2) INFO ::: Upload 503Y004 starts!
2024-02-05 13:26:06,444 (3572690103.py 15) INFO ::: Insert rows: 166.
2024-02-05 13:26:06,445 (3572690103.py 2) INFO ::: Upload 503Y019 starts!
2024-02-05 13:26:08,012 (3572690103.py 15) INFO ::: Insert rows: 88.
2024-02-05 13:26:08,012 (3572690103.py 2) INFO ::: Upload 503Y024 starts!
2024-02-05 13:26:13,484 (3572690103.py 15) INFO ::: Insert rows: 116.
2024-02-05 13:26:13,484 (3572690103.py 2) INFO ::: Upload 503Y029 starts!
2024-02-05 13:26:16,137 (3572690103.py 15) INFO ::: Insert rows: 95.
2024-02-05 13:26:16,138 (3572690103.py 2) INFO ::: Upload 503Y034 starts!
2024-02-05 13:26:18,341 (3572690103.py 15) INFO ::: Insert rows: 92.
2024-02-05 13:26:18,341 (3572690103.py 2) INFO ::: Upload 503Y039 starts!
2024-02-05 13:26:19,891 (3572690103.py 15) INFO ::: Insert rows: 87.
2024-02-05 13:26:19,891 (3572690103.py 2) INFO ::: Upload 503Y073 starts!

# 4. 통계 조회조건 설정

In [4]:
stat_item = postgres_conn.get_data(schema_name = conf['schema_name'],
            table_name = conf['data']['stat_item']['table_name'],
            columns = ['통계표코드', '통계항목코드', '주기', '수록시작일자', '수록종료일자', '자료수'],
            is_orderby = True)

In [11]:
stat_item.groupby(['통계표코드', '주기']).agg({
    '수록시작일자': 'first',
    '수록종료일자': 'last',
    '자료수': 'sum'
}).reset_index()

In [19]:
for idx, stat_series in stat_group.iterrows():
    stat, period, start, end, count = stat_series
    logger.info(f"Upload {stat} starts! ({idx+1}/{stat_group.shape[0]} items...)")

    db_count = postgres_conn.get_count(schema_name = conf['schema_name'],
             table_name = conf['data']['stat_search']['table_name'],
             where = [f"통계표코드 = '{stat}'", f"주기 = '{period}'"])

    if db_count == count:
        logger.info(f"All data is uploaded in DB ({db_count}/{count}). Skip API call.")
        continue
    
    stat_search = bok.get_statistic_search(stat, 
                                         period = period, 
                                         start = start, 
                                         end = end, 
                                         _ts = os.environ['_ts'], rename = conf['data']['stat_search']['rename'])

    stat_search['주기'] = period
    
    stat_search.fillna({col: '' for col in conf['data']['stat_search']['dup_cols']} | {'값': np.nan}, inplace = True)
    
    upload_stat_search = ext_notin_db(db_conn = postgres_conn,
            schema = conf['schema_name'],
            table = conf['data']['stat_search']['table_name'],
            data = stat_search,
            subset = conf['data']['stat_search']['dup_cols'])

    # 한은에서 중복 데이터 조회 오류 수정 시 제거할 코드
    upload_stat_search.drop_duplicates(conf['data']['stat_search']['dup_cols'], inplace = True)


    upload_rows = postgres_conn.upsert(data = upload_stat_search,
                     schema_name = conf['schema_name'],
                     table_name = conf['data']['stat_search']['table_name'])
    
    print(upload_rows)


# logger.info(f"Insert rows: {upload_rows}.")

2024-02-10 08:33:48,774 (3058550100.py 3) INFO ::: Upload 101Y001 starts! (1/946 items...)
2024-02-10 08:33:48,782 (3058550100.py 10) INFO ::: All data is uploaded in DB (263/263). Skip API call.
2024-02-10 08:33:48,782 (3058550100.py 3) INFO ::: Upload 101Y001 starts! (2/946 items...)
2024-02-10 08:33:48,784 (3058550100.py 10) INFO ::: All data is uploaded in DB (3287/3287). Skip API call.
2024-02-10 08:33:48,784 (3058550100.py 3) INFO ::: Upload 101Y002 starts! (3/946 items...)
2024-02-10 08:33:48,785 (3058550100.py 10) INFO ::: All data is uploaded in DB (810/810). Skip API call.
2024-02-10 08:33:48,785 (3058550100.py 3) INFO ::: Upload 101Y002 starts! (4/946 items...)
2024-02-10 08:33:48,797 (3058550100.py 10) INFO ::: All data is uploaded in DB (9811/9811). Skip API call.
2024-02-10 08:33:48,797 (3058550100.py 3) INFO ::: Upload 101Y002 starts! (5/946 items...)
2024-02-10 08:33:48,798 (3058550100.py 10) INFO ::: All data is uploaded in DB (3265/3265). Skip API call.
2024-02-10 08:33:48,798 (3058550100.py 3) INFO ::: Upload 101Y003 starts! (6/946 items...)
2024-02-10 08:33:48,799 (3058550100.py 10) INFO ::: All data is uploaded in DB (247/247). Skip API call.
2024-02-10 08:33:48,800 (3058550100.py 3) INFO ::: Upload 101Y003 starts! (7/946 items...)
2024-02-10 08:33:48,801 (3058550100.py 10) INFO ::: All data is uploaded in DB (3095/3095). Skip API call.
2024-02-10 08:33:48,801 (3058550100.py 3) INFO ::: Upload 101Y004 starts! (8/946 items...)
2024-02-10 08:33:48,802 (3058550100.py 10) INFO ::: All data is uploaded in DB (582/582). Skip API call.
2024-02-10 08:33:48,802 (3058550100.py 3) INFO ::: Upload 101Y004 starts! (9/946 items...)
2024-02-10 08:33:48,803 (3058550100.py 10) INFO ::: All data is uploaded in DB (7152/7152). Skip API call.
2024-02-10 08:33:48,803 (3058550100.py 3) INFO ::: Upload 101Y004 starts! (10/946 items...)
2024-02-10 08:33:48,804 (3058550100.py 10) INFO ::: All data is uploaded in DB (2374/2374). Skip API call.
2024-02-10 08:33:48,804 (3058550100.py 3) INFO ::: Upload 101Y005 starts! (11/946 items...)
2024-02-10 08:33:48,805 (3058550100.py 10) INFO ::: All data is uploaded in DB (1320/1320). Skip API call.
2024-02-10 08:33:48,805 (3058550100.py 3) INFO ::: Upload 101Y006 starts! (12/946 items...)
2024-02-10 08:33:48,985 (api.py 82) WARNING ::: {'CODE': 'INFO-200', 'MESSAGE': '해당하는 데이터가 없습니다.'}
2024-02-10 08:34:04,390 (utils.py 153) INFO ::: Upload data starts: 0 rows.
2024-02-10 08:34:04,392 (3058550100.py 3) INFO ::: Upload 101Y006 starts! (13/946 items...)
2024-02-10 08:34:04,393 (3058550100.py 10) INFO ::: All data is uploaded in DB (1320/1320). Skip API call.
2024-02-10 08:34:04,394 (3058550100.py 3) INFO ::: Upload 101Y007 starts! (14/946 items...)
2024-02-10 08:34:04,395 (3058550100.py 10) INFO ::: All data is uploaded in DB (692/692). Skip API call.
2024-02-10 08:34:04,395 (3058550100.py 3) INFO ::: Upload 101Y007 starts! (15/946 items...)
2024-02-10 08:34:04,396 (3058550100.py 10) INFO ::: All data is uploaded in DB (8407/8407). Skip API call.
2024-02-10 08:34:04,397 (3058550100.py 3) INFO ::: Upload 101Y007 starts! (16/946 items...)
2024-02-10 08:34:04,398 (3058550100.py 10) INFO ::: All data is uploaded in DB (2794/2794). Skip API call.
2024-02-10 08:34:04,398 (3058550100.py 3) INFO ::: Upload 101Y008 starts! (17/946 items...)
2024-02-10 08:34:04,399 (3058550100.py 10) INFO ::: All data is uploaded in DB (465/465). Skip API call.
2024-02-10 08:34:04,399 (3058550100.py 3) INFO ::: Upload 101Y008 starts! (18/946 items...)
2024-02-10 08:34:04,400 (3058550100.py 10) INFO ::: All data is uploaded in DB (5723/5723). Skip API call.
2024-02-10 08:34:04,401 (3058550100.py 3) INFO ::: Upload 101Y008 starts! (19/946 items...)
2024-02-10 08:34:04,402 (3058550100.py 10) INFO ::: All data is uploaded in DB (1895/1895). Skip API call.
2024-02-10 08:34:04,402 (3058550100.py 3) INFO ::: Upload 101Y009 starts! (20/946 items...)
2024-02-10 08:34:04,403 (3058550100.py 10) INFO ::: All data is uploaded in DB (1738/1738). Skip API call.
2024-02-10 08:34:04,403 (3058550100.py 3) INFO ::: Upload 101Y009 starts! (21/946 items...)
2024-02-10 08:34:04,405 (3058550100.py 10) INFO ::: All data is uploaded in DB (20870/20870). Skip API call.
2024-02-10 08:34:04,406 (3058550100.py 3) INFO ::: Upload 101Y009 starts! (22/946 items...)
2024-02-10 08:34:04,407 (3058550100.py 10) INFO ::: All data is uploaded in DB (6952/6952). Skip API call.
2024-02-10 08:34:04,407 (3058550100.py 3) INFO ::: Upload 101Y010 starts! (23/946 items...)
2024-02-10 08:34:04,408 (3058550100.py 10) INFO ::: All data is uploaded in DB (1606/1606). Skip API call.
2024-02-10 08:34:04,409 (3058550100.py 3) INFO ::: Upload 101Y010 starts! (24/946 items...)
2024-02-10 08:34:04,410 (3058550100.py 10) INFO ::: All data is uploaded in DB (19272/19272). Skip API call.
2024-02-10 08:34:04,410 (3058550100.py 3) INFO ::: Upload 101Y010 starts! (25/946 items...)
2024-02-10 08:34:04,412 (3058550100.py 10) INFO ::: All data is uploaded in DB (6424/6424). Skip API call.
2024-02-10 08:34:04,412 (3058550100.py 3) INFO ::: Upload 101Y011 starts! (26/946 items...)
2024-02-10 08:34:04,413 (3058550100.py 10) INFO ::: All data is uploaded in DB (1848/1848). Skip API call.
2024-02-10 08:34:04,413 (3058550100.py 3) INFO ::: Upload 101Y011 starts! (27/946 items...)
2024-02-10 08:34:04,415 (3058550100.py 10) INFO ::: All data is uploaded in DB (22176/22176). Skip API call.
2024-02-10 08:34:04,415 (3058550100.py 3) INFO ::: Upload 101Y011 starts! (28/946 items...)
2024-02-10 08:34:04,416 (3058550100.py 10) INFO ::: All data is uploaded in DB (7392/7392). Skip API call.
2024-02-10 08:34:04,417 (3058550100.py 3) INFO ::: Upload 101Y014 starts! (29/946 items...)
2024-02-10 08:34:04,417 (3058550100.py 10) INFO ::: All data is uploaded in DB (110/110). Skip API call.
2024-02-10 08:34:04,418 (3058550100.py 3) INFO ::: Upload 101Y014 starts! (30/946 items...)
2024-02-10 08:34:04,419 (3058550100.py 10) INFO ::: All data is uploaded in DB (1320/1320). Skip API call.
2024-02-10 08:34:04,419 (3058550100.py 3) INFO ::: Upload 101Y014 starts! (31/946 items...)
2024-02-10 08:34:04,420 (3058550100.py 10) INFO ::: All data is uploaded in DB (440/440). Skip API call.
2024-02-10 08:34:04,420 (3058550100.py 3) INFO ::: Upload 101Y015 starts! (32/946 items...)
2024-02-10 08:34:04,421 (3058550100.py 10) INFO ::: All data is uploaded in DB (105/105). Skip API call.
2024-02-10 08:34:04,421 (3058550100.py 3) INFO ::: Upload 101Y015 starts! (33/946 items...)
2024-02-10 08:34:04,429 (3058550100.py 10) INFO ::: All data is uploaded in DB (1320/1320). Skip API call.
2024-02-10 08:34:04,429 (3058550100.py 3) INFO ::: Upload 101Y015 starts! (34/946 items...)
2024-02-10 08:34:04,430 (3058550100.py 10) INFO ::: All data is uploaded in DB (435/435). Skip API call.
2024-02-10 08:34:04,430 (3058550100.py 3) INFO ::: Upload 101Y016 starts! (35/946 items...)
2024-02-10 08:34:04,431 (3058550100.py 10) INFO ::: All data is uploaded in DB (116/116). Skip API call.
2024-02-10 08:34:04,431 (3058550100.py 3) INFO ::: Upload 101Y016 starts! (36/946 items...)
2024-02-10 08:34:04,432 (3058550100.py 10) INFO ::: All data is uploaded in DB (1439/1439). Skip API call.
2024-02-10 08:34:04,433 (3058550100.py 3) INFO ::: Upload 101Y017 starts! (37/946 items...)
2024-02-10 08:34:04,433 (3058550100.py 10) INFO ::: All data is uploaded in DB (234/234). Skip API call.
2024-02-10 08:34:04,434 (3058550100.py 3) INFO ::: Upload 101Y017 starts! (38/946 items...)
2024-02-10 08:34:04,435 (3058550100.py 10) INFO ::: All data is uploaded in DB (2845/2845). Skip API call.
2024-02-10 08:34:04,435 (3058550100.py 3) INFO ::: Upload 101Y017 starts! (39/946 items...)
2024-02-10 08:34:04,436 (3058550100.py 10) INFO ::: All data is uploaded in DB (946/946). Skip API call.
2024-02-10 08:34:04,436 (3058550100.py 3) INFO ::: Upload 101Y018 starts! (40/946 items...)
2024-02-10 08:34:04,437 (3058550100.py 10) INFO ::: All data is uploaded in DB (116/116). Skip API call.
2024-02-10 08:34:04,437 (3058550100.py 3) INFO ::: Upload 101Y018 starts! (41/946 items...)
2024-02-10 08:34:04,438 (3058550100.py 10) INFO ::: All data is uploaded in DB (1439/1439). Skip API call.
2024-02-10 08:34:04,438 (3058550100.py 3) INFO ::: Upload 101Y019 starts! (42/946 items...)
2024-02-10 08:34:04,439 (3058550100.py 10) INFO ::: All data is uploaded in DB (164/164). Skip API call.
2024-02-10 08:34:04,439 (3058550100.py 3) INFO ::: Upload 101Y019 starts! (43/946 items...)
2024-02-10 08:34:04,440 (3058550100.py 10) INFO ::: All data is uploaded in DB (2012/2012). Skip API call.
2024-02-10 08:34:04,441 (3058550100.py 3) INFO ::: Upload 101Y019 starts! (44/946 items...)
2024-02-10 08:34:04,441 (3058550100.py 10) INFO ::: All data is uploaded in DB (668/668). Skip API call.
2024-02-10 08:34:04,442 (3058550100.py 3) INFO ::: Upload 102Y001 starts! (45/946 items...)
2024-02-10 08:34:04,443 (3058550100.py 10) INFO ::: All data is uploaded in DB (105/105). Skip API call.
2024-02-10 08:34:04,443 (3058550100.py 3) INFO ::: Upload 102Y001 starts! (46/946 items...)
2024-02-10 08:34:04,444 (3058550100.py 10) INFO ::: All data is uploaded in DB (1293/1293). Skip API call.
2024-02-10 08:34:04,444 (3058550100.py 3) INFO ::: Upload 102Y001 starts! (47/946 items...)
2024-02-10 08:34:04,445 (3058550100.py 10) INFO ::: All data is uploaded in DB (429/429). Skip API call.
2024-02-10 08:34:04,445 (3058550100.py 3) INFO ::: Upload 102Y002 starts! (48/946 items...)
2024-02-10 08:34:04,446 (3058550100.py 10) INFO ::: All data is uploaded in DB (94/94). Skip API call.
2024-02-10 08:34:04,446 (3058550100.py 3) INFO ::: Upload 102Y002 starts! (49/946 items...)
2024-02-10 08:34:04,447 (3058550100.py 10) INFO ::: All data is uploaded in DB (1161/1161). Skip API call.
2024-02-10 08:34:04,447 (3058550100.py 3) INFO ::: Upload 102Y002 starts! (50/946 items...)
2024-02-10 08:34:04,448 (3058550100.py 10) INFO ::: All data is uploaded in DB (385/385). Skip API call.
2024-02-10 08:34:04,449 (3058550100.py 3) INFO ::: Upload 102Y003 starts! (51/946 items...)
2024-02-10 08:34:04,449 (3058550100.py 10) INFO ::: All data is uploaded in DB (63/63). Skip API call.
2024-02-10 08:34:04,450 (3058550100.py 3) INFO ::: Upload 102Y003 starts! (52/946 items...)
2024-02-10 08:34:04,451 (3058550100.py 10) INFO ::: All data is uploaded in DB (792/792). Skip API call.
2024-02-10 08:34:04,451 (3058550100.py 3) INFO ::: Upload 102Y004 starts! (53/946 items...)
2024-02-10 08:34:04,452 (3058550100.py 10) INFO ::: All data is uploaded in DB (63/63). Skip API call.
2024-02-10 08:34:04,452 (3058550100.py 3) INFO ::: Upload 102Y004 starts! (54/946 items...)
2024-02-10 08:34:04,453 (3058550100.py 10) INFO ::: All data is uploaded in DB (792/792). Skip API call.
2024-02-10 08:34:04,453 (3058550100.py 3) INFO ::: Upload 103Y002 starts! (55/946 items...)
2024-02-10 08:34:04,455 (3058550100.py 10) INFO ::: All data is uploaded in DB (1948/1948). Skip API call.
2024-02-10 08:34:04,455 (3058550100.py 3) INFO ::: Upload 103Y002 starts! (56/946 items...)
2024-02-10 08:34:04,457 (3058550100.py 10) INFO ::: All data is uploaded in DB (23450/23450). Skip API call.
2024-02-10 08:34:04,457 (3058550100.py 3) INFO ::: Upload 103Y002 starts! (57/946 items...)
2024-02-10 08:34:04,458 (3058550100.py 10) INFO ::: All data is uploaded in DB (7635/7635). Skip API call.
2024-02-10 08:34:04,458 (3058550100.py 3) INFO ::: Upload 104Y008 starts! (58/946 items...)
2024-02-10 08:34:04,459 (3058550100.py 10) INFO ::: All data is uploaded in DB (873/873). Skip API call.
2024-02-10 08:34:04,460 (3058550100.py 3) INFO ::: Upload 104Y008 starts! (59/946 items...)
2024-02-10 08:34:04,461 (3058550100.py 10) INFO ::: All data is uploaded in DB (10726/10726). Skip API call.
2024-02-10 08:34:04,461 (3058550100.py 3) INFO ::: Upload 104Y008 starts! (60/946 items...)
2024-02-10 08:34:04,462 (3058550100.py 10) INFO ::: All data is uploaded in DB (3546/3546). Skip API call.
2024-02-10 08:34:04,462 (3058550100.py 3) INFO ::: Upload 104Y009 starts! (61/946 items...)
2024-02-10 08:34:04,463 (3058550100.py 10) INFO ::: All data is uploaded in DB (576/576). Skip API call.
2024-02-10 08:34:04,463 (3058550100.py 3) INFO ::: Upload 104Y009 starts! (62/946 items...)
2024-02-10 08:34:04,465 (3058550100.py 10) INFO ::: All data is uploaded in DB (7044/7044). Skip API call.
2024-02-10 08:34:04,465 (3058550100.py 3) INFO ::: Upload 104Y009 starts! (63/946 items...)
2024-02-10 08:34:04,466 (3058550100.py 10) INFO ::: All data is uploaded in DB (2340/2340). Skip API call.
2024-02-10 08:34:04,466 (3058550100.py 3) INFO ::: Upload 104Y010 starts! (64/946 items...)
2024-02-10 08:34:04,467 (3058550100.py 10) INFO ::: All data is uploaded in DB (192/192). Skip API call.
2024-02-10 08:34:04,467 (3058550100.py 3) INFO ::: Upload 104Y010 starts! (65/946 items...)
2024-02-10 08:34:04,468 (3058550100.py 10) INFO ::: All data is uploaded in DB (1578/1578). Skip API call.
2024-02-10 08:34:04,468 (3058550100.py 3) INFO ::: Upload 104Y010 starts! (66/946 items...)
2024-02-10 08:34:04,469 (3058550100.py 10) INFO ::: All data is uploaded in DB (690/690). Skip API call.
2024-02-10 08:34:04,470 (3058550100.py 3) INFO ::: Upload 104Y013 starts! (67/946 items...)
2024-02-10 08:34:04,470 (3058550100.py 10) INFO ::: All data is uploaded in DB (279/279). Skip API call.
2024-02-10 08:34:04,471 (3058550100.py 3) INFO ::: Upload 104Y013 starts! (68/946 items...)
2024-02-10 08:34:04,472 (3058550100.py 10) INFO ::: All data is uploaded in DB (3375/3375). Skip API call.
2024-02-10 08:34:04,472 (3058550100.py 3) INFO ::: Upload 104Y013 starts! (69/946 items...)
2024-02-10 08:34:04,473 (3058550100.py 10) INFO ::: All data is uploaded in DB (1125/1125). Skip API call.
2024-02-10 08:34:04,473 (3058550100.py 3) INFO ::: Upload 104Y014 starts! (70/946 items...)
2024-02-10 08:34:04,474 (3058550100.py 10) INFO ::: All data is uploaded in DB (270/270). Skip API call.
2024-02-10 08:34:04,474 (3058550100.py 3) INFO ::: Upload 104Y014 starts! (71/946 items...)
2024-02-10 08:34:04,475 (3058550100.py 10) INFO ::: All data is uploaded in DB (3375/3375). Skip API call.
2024-02-10 08:34:04,475 (3058550100.py 3) INFO ::: Upload 104Y014 starts! (72/946 items...)
2024-02-10 08:34:04,476 (3058550100.py 10) INFO ::: All data is uploaded in DB (1116/1116). Skip API call.
2024-02-10 08:34:04,476 (3058550100.py 3) INFO ::: Upload 104Y015 starts! (73/946 items...)
2024-02-10 08:34:04,477 (3058550100.py 10) INFO ::: All data is uploaded in DB (1081/1081). Skip API call.
2024-02-10 08:34:04,478 (3058550100.py 3) INFO ::: Upload 104Y015 starts! (74/946 items...)
2024-02-10 08:34:04,479 (3058550100.py 10) INFO ::: All data is uploaded in DB (12283/12283). Skip API call.
2024-02-10 08:34:04,479 (3058550100.py 3) INFO ::: Upload 104Y015 starts! (75/946 items...)
2024-02-10 08:34:04,480 (3058550100.py 10) INFO ::: All data is uploaded in DB (4081/4081). Skip API call.
2024-02-10 08:34:04,481 (3058550100.py 3) INFO ::: Upload 104Y016 starts! (76/946 items...)
2024-02-10 08:34:04,482 (3058550100.py 10) INFO ::: All data is uploaded in DB (2160/2160). Skip API call.
2024-02-10 08:34:04,482 (3058550100.py 3) INFO ::: Upload 104Y016 starts! (77/946 items...)
2024-02-10 08:34:04,484 (3058550100.py 10) INFO ::: All data is uploaded in DB (24942/24942). Skip API call.
2024-02-10 08:34:04,484 (3058550100.py 3) INFO ::: Upload 104Y016 starts! (78/946 items...)
2024-02-10 08:34:04,485 (3058550100.py 10) INFO ::: All data is uploaded in DB (8266/8266). Skip API call.
2024-02-10 08:34:04,485 (3058550100.py 3) INFO ::: Upload 104Y017 starts! (79/946 items...)
2024-02-10 08:34:04,486 (3058550100.py 10) INFO ::: All data is uploaded in DB (418/418). Skip API call.
2024-02-10 08:34:04,486 (3058550100.py 3) INFO ::: Upload 104Y017 starts! (80/946 items...)
2024-02-10 08:34:04,487 (3058550100.py 10) INFO ::: All data is uploaded in DB (5137/5137). Skip API call.
2024-02-10 08:34:04,488 (3058550100.py 3) INFO ::: Upload 104Y017 starts! (81/946 items...)
2024-02-10 08:34:04,489 (3058550100.py 10) INFO ::: All data is uploaded in DB (1705/1705). Skip API call.
2024-02-10 08:34:04,489 (3058550100.py 3) INFO ::: Upload 105Y001 starts! (82/946 items...)

0

2024-02-10 08:34:05,007 (api.py 92) INFO ::: Read 3182/3182 rows....
2024-02-10 08:34:23,256 (utils.py 153) INFO ::: Upload data starts: 0 rows.
2024-02-10 08:34:23,258 (3058550100.py 3) INFO ::: Upload 111Y001 starts! (83/946 items...)
2024-02-10 08:34:23,259 (3058550100.py 10) INFO ::: All data is uploaded in DB (116/116). Skip API call.
2024-02-10 08:34:23,260 (3058550100.py 3) INFO ::: Upload 111Y001 starts! (84/946 items...)
2024-02-10 08:34:23,261 (3058550100.py 10) INFO ::: All data is uploaded in DB (1438/1438). Skip API call.
2024-02-10 08:34:23,261 (3058550100.py 3) INFO ::: Upload 111Y001 starts! (85/946 items...)
2024-02-10 08:34:23,420 (api.py 82) WARNING ::: {'CODE': 'INFO-200', 'MESSAGE': '해당하는 데이터가 없습니다.'}

0

2024-02-10 08:34:37,516 (utils.py 153) INFO ::: Upload data starts: 0 rows.
2024-02-10 08:34:37,518 (3058550100.py 3) INFO ::: Upload 111Y002 starts! (86/946 items...)
2024-02-10 08:34:37,520 (3058550100.py 10) INFO ::: All data is uploaded in DB (436/436). Skip API call.
2024-02-10 08:34:37,520 (3058550100.py 3) INFO ::: Upload 111Y002 starts! (87/946 items...)
2024-02-10 08:34:37,521 (3058550100.py 10) INFO ::: All data is uploaded in DB (5267/5267). Skip API call.
2024-02-10 08:34:37,521 (3058550100.py 3) INFO ::: Upload 111Y002 starts! (88/946 items...)
2024-02-10 08:34:37,522 (3058550100.py 10) INFO ::: All data is uploaded in DB (1747/1747). Skip API call.
2024-02-10 08:34:37,523 (3058550100.py 3) INFO ::: Upload 111Y003 starts! (89/946 items...)
2024-02-10 08:34:37,523 (3058550100.py 10) INFO ::: All data is uploaded in DB (116/116). Skip API call.
2024-02-10 08:34:37,524 (3058550100.py 3) INFO ::: Upload 111Y003 starts! (90/946 items...)
2024-02-10 08:34:37,525 (3058550100.py 10) INFO ::: All data is uploaded in DB (1438/1438). Skip API call.
2024-02-10 08:34:37,525 (3058550100.py 3) INFO ::: Upload 111Y003 starts! (91/946 items...)
2024-02-10 08:34:37,694 (api.py 82) WARNING ::: {'CODE': 'INFO-200', 'MESSAGE': '해당하는 데이터가 없습니다.'}

0

2024-02-10 08:34:51,688 (utils.py 153) INFO ::: Upload data starts: 0 rows.
2024-02-10 08:34:51,690 (3058550100.py 3) INFO ::: Upload 111Y004 starts! (92/946 items...)
2024-02-10 08:34:51,691 (3058550100.py 10) INFO ::: All data is uploaded in DB (421/421). Skip API call.
2024-02-10 08:34:51,691 (3058550100.py 3) INFO ::: Upload 111Y004 starts! (93/946 items...)
2024-02-10 08:34:51,692 (3058550100.py 10) INFO ::: All data is uploaded in DB (5195/5195). Skip API call.
2024-02-10 08:34:51,693 (3058550100.py 3) INFO ::: Upload 111Y004 starts! (94/946 items...)
2024-02-10 08:34:51,694 (3058550100.py 10) INFO ::: All data is uploaded in DB (1723/1723). Skip API call.
2024-02-10 08:34:51,694 (3058550100.py 3) INFO ::: Upload 111Y005 starts! (95/946 items...)
2024-02-10 08:34:51,695 (3058550100.py 10) INFO ::: All data is uploaded in DB (436/436). Skip API call.
2024-02-10 08:34:51,695 (3058550100.py 3) INFO ::: Upload 111Y005 starts! (96/946 items...)
2024-02-10 08:34:51,696 (3058550100.py 10) INFO ::: All data is uploaded in DB (5267/5267). Skip API call.
2024-02-10 08:34:51,697 (3058550100.py 3) INFO ::: Upload 111Y005 starts! (97/946 items...)
2024-02-10 08:34:51,698 (3058550100.py 10) INFO ::: All data is uploaded in DB (1747/1747). Skip API call.
2024-02-10 08:34:51,698 (3058550100.py 3) INFO ::: Upload 111Y006 starts! (98/946 items...)
2024-02-10 08:34:51,699 (3058550100.py 10) INFO ::: All data is uploaded in DB (421/421). Skip API call.
2024-02-10 08:34:51,699 (3058550100.py 3) INFO ::: Upload 111Y006 starts! (99/946 items...)
2024-02-10 08:34:51,700 (3058550100.py 10) INFO ::: All data is uploaded in DB (5195/5195). Skip API call.
2024-02-10 08:34:51,701 (3058550100.py 3) INFO ::: Upload 111Y006 starts! (100/946 items...)
2024-02-10 08:34:51,702 (3058550100.py 10) INFO ::: All data is uploaded in DB (1723/1723). Skip API call.
2024-02-10 08:34:51,702 (3058550100.py 3) INFO ::: Upload 111Y007 starts! (101/946 items...)
2024-02-10 08:34:51,703 (3058550100.py 10) INFO ::: All data is uploaded in DB (300/300). Skip API call.
2024-02-10 08:34:51,703 (3058550100.py 3) INFO ::: Upload 111Y007 starts! (102/946 items...)
2024-02-10 08:34:51,704 (3058550100.py 10) INFO ::: All data is uploaded in DB (3620/3620). Skip API call.
2024-02-10 08:34:51,704 (3058550100.py 3) INFO ::: Upload 111Y007 starts! (103/946 items...)
2024-02-10 08:34:51,705 (3058550100.py 10) INFO ::: All data is uploaded in DB (1200/1200). Skip API call.
2024-02-10 08:34:51,706 (3058550100.py 3) INFO ::: Upload 111Y008 starts! (104/946 items...)
2024-02-10 08:34:51,707 (3058550100.py 10) INFO ::: All data is uploaded in DB (290/290). Skip API call.
2024-02-10 08:34:51,707 (3058550100.py 3) INFO ::: Upload 111Y008 starts! (105/946 items...)
2024-02-10 08:34:51,708 (3058550100.py 10) INFO ::: All data is uploaded in DB (3620/3620). Skip API call.
2024-02-10 08:34:51,708 (3058550100.py 3) INFO ::: Upload 111Y008 starts! (106/946 items...)
2024-02-10 08:34:51,710 (3058550100.py 10) INFO ::: All data is uploaded in DB (1200/1200). Skip API call.
2024-02-10 08:34:51,710 (3058550100.py 3) INFO ::: Upload 111Y009 starts! (107/946 items...)
2024-02-10 08:34:51,711 (3058550100.py 10) INFO ::: All data is uploaded in DB (300/300). Skip API call.
2024-02-10 08:34:51,711 (3058550100.py 3) INFO ::: Upload 111Y009 starts! (108/946 items...)
2024-02-10 08:34:51,712 (3058550100.py 10) INFO ::: All data is uploaded in DB (3630/3630). Skip API call.
2024-02-10 08:34:51,712 (3058550100.py 3) INFO ::: Upload 111Y009 starts! (109/946 items...)
2024-02-10 08:34:51,713 (3058550100.py 10) INFO ::: All data is uploaded in DB (1210/1210). Skip API call.
2024-02-10 08:34:51,714 (3058550100.py 3) INFO ::: Upload 112Y001 starts! (110/946 items...)
2024-02-10 08:34:51,714 (3058550100.py 10) INFO ::: All data is uploaded in DB (110/110). Skip API call.
2024-02-10 08:34:51,715 (3058550100.py 3) INFO ::: Upload 112Y001 starts! (111/946 items...)
2024-02-10 08:34:51,716 (3058550100.py 10) INFO ::: All data is uploaded in DB (1320/1320). Skip API call.
2024-02-10 08:34:51,716 (3058550100.py 3) INFO ::: Upload 112Y001 starts! (112/946 items...)

0

2024-02-10 08:34:51,965 (api.py 82) WARNING ::: {'CODE': 'INFO-200', 'MESSAGE': '해당하는 데이터가 없습니다.'}
2024-02-10 08:35:05,570 (utils.py 153) INFO ::: Upload data starts: 0 rows.
2024-02-10 08:35:05,572 (3058550100.py 3) INFO ::: Upload 112Y002 starts! (113/946 items...)
2024-02-10 08:35:05,573 (3058550100.py 10) INFO ::: All data is uploaded in DB (280/280). Skip API call.
2024-02-10 08:35:05,574 (3058550100.py 3) INFO ::: Upload 112Y002 starts! (114/946 items...)
2024-02-10 08:35:05,575 (3058550100.py 10) INFO ::: All data is uploaded in DB (3470/3470). Skip API call.
2024-02-10 08:35:05,575 (3058550100.py 3) INFO ::: Upload 112Y002 starts! (115/946 items...)
2024-02-10 08:35:05,576 (3058550100.py 10) INFO ::: All data is uploaded in DB (1150/1150). Skip API call.
2024-02-10 08:35:05,576 (3058550100.py 3) INFO ::: Upload 121Y002 starts! (116/946 items...)
2024-02-10 08:35:05,577 (3058550100.py 10) INFO ::: All data is uploaded in DB (721/721). Skip API call.
2024-02-10 08:35:05,577 (3058550100.py 3) INFO ::: Upload 121Y002 starts! (117/946 items...)
2024-02-10 08:35:05,578 (3058550100.py 10) INFO ::: All data is uploaded in DB (8576/8576). Skip API call.
2024-02-10 08:35:05,579 (3058550100.py 3) INFO ::: Upload 121Y002 starts! (118/946 items...)
2024-02-10 08:35:05,580 (3058550100.py 10) INFO ::: All data is uploaded in DB (2859/2859). Skip API call.
2024-02-10 08:35:05,580 (3058550100.py 3) INFO ::: Upload 121Y004 starts! (119/946 items...)
2024-02-10 08:35:05,581 (3058550100.py 10) INFO ::: All data is uploaded in DB (248/248). Skip API call.
2024-02-10 08:35:05,581 (3058550100.py 3) INFO ::: Upload 121Y004 starts! (120/946 items...)
2024-02-10 08:35:05,582 (3058550100.py 10) INFO ::: All data is uploaded in DB (2910/2910). Skip API call.
2024-02-10 08:35:05,583 (3058550100.py 3) INFO ::: Upload 121Y004 starts! (121/946 items...)
2024-02-10 08:35:05,584 (3058550100.py 10) INFO ::: All data is uploaded in DB (972/972). Skip API call.
2024-02-10 08:35:05,584 (3058550100.py 3) INFO ::: Upload 121Y006 starts! (122/946 items...)
2024-02-10 08:35:05,585 (3058550100.py 10) INFO ::: All data is uploaded in DB (441/441). Skip API call.
2024-02-10 08:35:05,585 (3058550100.py 3) INFO ::: Upload 121Y006 starts! (123/946 items...)
2024-02-10 08:35:05,586 (3058550100.py 10) INFO ::: All data is uploaded in DB (5266/5266). Skip API call.
2024-02-10 08:35:05,586 (3058550100.py 3) INFO ::: Upload 121Y006 starts! (124/946 items...)
2024-02-10 08:35:05,587 (3058550100.py 10) INFO ::: All data is uploaded in DB (1754/1754). Skip API call.
2024-02-10 08:35:05,587 (3058550100.py 3) INFO ::: Upload 121Y007 starts! (125/946 items...)
2024-02-10 08:35:05,588 (3058550100.py 10) INFO ::: All data is uploaded in DB (468/468). Skip API call.
2024-02-10 08:35:05,588 (3058550100.py 3) INFO ::: Upload 121Y007 starts! (126/946 items...)
2024-02-10 08:35:05,590 (3058550100.py 10) INFO ::: All data is uploaded in DB (5512/5512). Skip API call.
2024-02-10 08:35:05,590 (3058550100.py 3) INFO ::: Upload 121Y007 starts! (127/946 items...)
2024-02-10 08:35:05,591 (3058550100.py 10) INFO ::: All data is uploaded in DB (1848/1848). Skip API call.
2024-02-10 08:35:05,591 (3058550100.py 3) INFO ::: Upload 121Y008 starts! (128/946 items...)
2024-02-10 08:35:05,592 (3058550100.py 10) INFO ::: All data is uploaded in DB (1529/1529). Skip API call.
2024-02-10 08:35:05,592 (3058550100.py 3) INFO ::: Upload 121Y008 starts! (129/946 items...)
2024-02-10 08:35:05,594 (3058550100.py 10) INFO ::: All data is uploaded in DB (18505/18505). Skip API call.
2024-02-10 08:35:05,594 (3058550100.py 3) INFO ::: Upload 121Y008 starts! (130/946 items...)
2024-02-10 08:35:05,595 (3058550100.py 10) INFO ::: All data is uploaded in DB (6144/6144). Skip API call.
2024-02-10 08:35:05,595 (3058550100.py 3) INFO ::: Upload 121Y010 starts! (131/946 items...)
2024-02-10 08:35:05,596 (3058550100.py 10) INFO ::: All data is uploaded in DB (330/330). Skip API call.
2024-02-10 08:35:05,596 (3058550100.py 3) INFO ::: Upload 121Y010 starts! (132/946 items...)
2024-02-10 08:35:05,597 (3058550100.py 10) INFO ::: All data is uploaded in DB (4016/4016). Skip API call.
2024-02-10 08:35:05,598 (3058550100.py 3) INFO ::: Upload 121Y010 starts! (133/946 items...)
2024-02-10 08:35:05,599 (3058550100.py 10) INFO ::: All data is uploaded in DB (1332/1332). Skip API call.
2024-02-10 08:35:05,599 (3058550100.py 3) INFO ::: Upload 121Y011 starts! (134/946 items...)
2024-02-10 08:35:05,600 (3058550100.py 10) INFO ::: All data is uploaded in DB (222/222). Skip API call.
2024-02-10 08:35:05,600 (3058550100.py 3) INFO ::: Upload 121Y011 starts! (135/946 items...)
2024-02-10 08:35:05,601 (3058550100.py 10) INFO ::: All data is uploaded in DB (2820/2820). Skip API call.
2024-02-10 08:35:05,601 (3058550100.py 3) INFO ::: Upload 121Y011 starts! (136/946 items...)
2024-02-10 08:35:05,602 (3058550100.py 10) INFO ::: All data is uploaded in DB (864/864). Skip API call.
2024-02-10 08:35:05,602 (3058550100.py 3) INFO ::: Upload 121Y013 starts! (137/946 items...)
2024-02-10 08:35:05,603 (3058550100.py 10) INFO ::: All data is uploaded in DB (448/448). Skip API call.
2024-02-10 08:35:05,603 (3058550100.py 3) INFO ::: Upload 121Y013 starts! (138/946 items...)
2024-02-10 08:35:05,604 (3058550100.py 10) INFO ::: All data is uploaded in DB (5252/5252). Skip API call.
2024-02-10 08:35:05,604 (3058550100.py 3) INFO ::: Upload 121Y013 starts! (139/946 items...)
2024-02-10 08:35:05,605 (3058550100.py 10) INFO ::: All data is uploaded in DB (1760/1760). Skip API call.
2024-02-10 08:35:05,605 (3058550100.py 3) INFO ::: Upload 121Y015 starts! (140/946 items...)
2024-02-10 08:35:05,606 (3058550100.py 10) INFO ::: All data is uploaded in DB (364/364). Skip API call.
2024-02-10 08:35:05,606 (3058550100.py 3) INFO ::: Upload 121Y015 starts! (141/946 items...)
2024-02-10 08:35:05,607 (3058550100.py 10) INFO ::: All data is uploaded in DB (4248/4248). Skip API call.
2024-02-10 08:35:05,608 (3058550100.py 3) INFO ::: Upload 121Y015 starts! (142/946 items...)
2024-02-10 08:35:05,608 (3058550100.py 10) INFO ::: All data is uploaded in DB (1426/1426). Skip API call.
2024-02-10 08:35:05,608 (3058550100.py 3) INFO ::: Upload 131Y010 starts! (143/946 items...)

0

2024-02-10 08:35:05,969 (api.py 92) INFO ::: Read 332/332 rows....
2024-02-10 08:35:23,755 (utils.py 153) INFO ::: Upload data starts: 132 rows.
2024-02-10 08:35:23,777 (3058550100.py 3) INFO ::: Upload 131Y010 starts! (144/946 items...)

132

2024-02-10 08:35:24,132 (api.py 92) INFO ::: Read 1328/1328 rows....

KeyboardInterrupt:

# 5. 100대 통계지표

In [44]:
stat_key = bok.get_statistic_key(_ts = os.environ['_ts'], rename = conf['data']['stat_key']['rename'])

upload_stat_key = ext_notin_db(db_conn = postgres_conn,
            schema = conf['schema_name'],
            table = conf['data']['stat_key']['table_name'],
            data = stat_key,
            subset = conf['data']['stat_key']['dup_cols'])

upload_rows += postgres_conn.upsert(data = upload_stat_key,
                     schema_name = conf['schema_name'],
                     table_name = conf['data']['stat_key']['table_name'])

# 6. 통계메타DB

In [4]:
stat_meta = bok.get_statistic_meta(rename = conf['data']['stat_meta']['rename'])
stat_meta['메타데이터'] = stat_meta['메타데이터'].map(lambda x: x[:10] if isinstance(x, str) else x)

2024-02-11 16:59:43,056 (api.py 109) INFO ::: Get statistic meta data (1/20)
2024-02-11 16:59:43,152 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:43,754 (api.py 109) INFO ::: Get statistic meta data (2/20)
2024-02-11 16:59:43,848 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:44,451 (api.py 109) INFO ::: Get statistic meta data (3/20)
2024-02-11 16:59:44,539 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:45,142 (api.py 109) INFO ::: Get statistic meta data (4/20)
2024-02-11 16:59:45,226 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:45,829 (api.py 109) INFO ::: Get statistic meta data (5/20)
2024-02-11 16:59:45,916 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:46,518 (api.py 109) INFO ::: Get statistic meta data (6/20)
2024-02-11 16:59:46,607 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:47,210 (api.py 109) INFO ::: Get statistic meta data (7/20)
2024-02-11 16:59:47,306 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:47,908 (api.py 109) INFO ::: Get statistic meta data (8/20)
2024-02-11 16:59:48,017 (api.py 149) INFO ::: Read 534/534 rows....
2024-02-11 16:59:48,620 (api.py 109) INFO ::: Get statistic meta data (9/20)
2024-02-11 16:59:48,707 (api.py 149) INFO ::: Read 110/110 rows....
2024-02-11 16:59:49,309 (api.py 109) INFO ::: Get statistic meta data (10/20)
2024-02-11 16:59:49,391 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:49,994 (api.py 109) INFO ::: Get statistic meta data (11/20)
2024-02-11 16:59:50,081 (api.py 149) INFO ::: Read 110/110 rows....
2024-02-11 16:59:50,684 (api.py 109) INFO ::: Get statistic meta data (12/20)
2024-02-11 16:59:50,771 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:51,374 (api.py 109) INFO ::: Get statistic meta data (13/20)
2024-02-11 16:59:51,478 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:52,080 (api.py 109) INFO ::: Get statistic meta data (14/20)
2024-02-11 16:59:52,170 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:52,772 (api.py 109) INFO ::: Get statistic meta data (15/20)
2024-02-11 16:59:52,861 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:53,464 (api.py 109) INFO ::: Get statistic meta data (16/20)
2024-02-11 16:59:53,551 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:54,154 (api.py 109) INFO ::: Get statistic meta data (17/20)
2024-02-11 16:59:54,250 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:54,852 (api.py 109) INFO ::: Get statistic meta data (18/20)
2024-02-11 16:59:55,037 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:55,639 (api.py 109) INFO ::: Get statistic meta data (19/20)
2024-02-11 16:59:55,727 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:56,329 (api.py 109) INFO ::: Get statistic meta data (20/20)
2024-02-11 16:59:56,416 (api.py 149) INFO ::: Read 157/157 rows....

In [51]:
postgres_conn.get_data(schema_name = conf['schema_name'],
            table_name = conf['data']['stat_meta']['table_name'],
            columns = conf['data']['stat_meta']['dup_cols'])

     레벨    데이터명      통계항목코드 메타데이터
0     2  경제심리지수  0000000098  None
1     2  경제심리지수  0000000099  None
2     1  경제심리지수  0000000100  None
3     2  경제심리지수  0000000101  None
4     2  경제심리지수  0000000102  None
...  ..     ...         ...   ...
3116  2  뉴스심리지수         N08  None
3117  3  뉴스심리지수        N083  None
3118  3  뉴스심리지수        N081  None
3119  3  뉴스심리지수        N084  None
3120  2  뉴스심리지수         N12  None

[3121 rows x 4 columns]

In [5]:
stat_meta = bok.get_statistic_meta(rename = conf['data']['stat_meta']['rename'])
stat_meta['메타데이터_key'] = stat_meta['메타데이터'].map(lambda x: x[:30] if isinstance(x, str) else '')
stat_meta = stat_meta.drop_duplicates(conf['data']['stat_meta']['dup_cols'])

upload_stat_meta = postgres_conn.ext_notin_db(
            schema_name = conf['schema_name'],
            table_name = conf['data']['stat_meta']['table_name'],
            data = stat_meta,
            subset = conf['data']['stat_meta']['dup_cols'])

upload_stat_meta['레벨'] = upload_stat_meta['레벨'].astype(str)

postgres_conn.insert_db(data = upload_stat_meta,
                     schema_name = conf['schema_name'],
                     table_name = conf['data']['stat_meta']['table_name'])

2024-02-11 16:59:57,114 (api.py 109) INFO ::: Get statistic meta data (1/20)
2024-02-11 16:59:57,210 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:57,812 (api.py 109) INFO ::: Get statistic meta data (2/20)
2024-02-11 16:59:57,909 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:58,512 (api.py 109) INFO ::: Get statistic meta data (3/20)
2024-02-11 16:59:58,598 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:59,200 (api.py 109) INFO ::: Get statistic meta data (4/20)
2024-02-11 16:59:59,290 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 16:59:59,893 (api.py 109) INFO ::: Get statistic meta data (5/20)
2024-02-11 16:59:59,975 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:00,577 (api.py 109) INFO ::: Get statistic meta data (6/20)
2024-02-11 17:00:00,696 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:01,298 (api.py 109) INFO ::: Get statistic meta data (7/20)
2024-02-11 17:00:01,447 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:02,049 (api.py 109) INFO ::: Get statistic meta data (8/20)
2024-02-11 17:00:02,154 (api.py 149) INFO ::: Read 534/534 rows....
2024-02-11 17:00:02,756 (api.py 109) INFO ::: Get statistic meta data (9/20)
2024-02-11 17:00:02,842 (api.py 149) INFO ::: Read 110/110 rows....
2024-02-11 17:00:03,445 (api.py 109) INFO ::: Get statistic meta data (10/20)
2024-02-11 17:00:03,528 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:04,131 (api.py 109) INFO ::: Get statistic meta data (11/20)
2024-02-11 17:00:04,274 (api.py 149) INFO ::: Read 110/110 rows....
2024-02-11 17:00:04,877 (api.py 109) INFO ::: Get statistic meta data (12/20)
2024-02-11 17:00:04,975 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:05,577 (api.py 109) INFO ::: Get statistic meta data (13/20)
2024-02-11 17:00:05,662 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:06,265 (api.py 109) INFO ::: Get statistic meta data (14/20)
2024-02-11 17:00:06,356 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:06,959 (api.py 109) INFO ::: Get statistic meta data (15/20)
2024-02-11 17:00:07,049 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:07,652 (api.py 109) INFO ::: Get statistic meta data (16/20)
2024-02-11 17:00:07,772 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:08,376 (api.py 109) INFO ::: Get statistic meta data (17/20)
2024-02-11 17:00:08,507 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:09,109 (api.py 109) INFO ::: Get statistic meta data (18/20)
2024-02-11 17:00:09,215 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:09,818 (api.py 109) INFO ::: Get statistic meta data (19/20)
2024-02-11 17:00:09,921 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:10,524 (api.py 109) INFO ::: Get statistic meta data (20/20)
2024-02-11 17:00:10,611 (api.py 149) INFO ::: Read 157/157 rows....
2024-02-11 17:00:11,238 (utils.py 115) INFO ::: Upload data successfully (rows: 0).

In [14]:
import requests, json
import pandas as pd
params = {
        "header": {
            
        },
"data": {
}
}

response = requests.get('http://www.bok.or.kr/portal/singl/siteConectStats/rcord.do?menuNo=200775&conectUrlad=/portal/stats/statsPublictSchdul/listCldr.do?menuNo=200775')
words = json.loads(response.text)
words
# web_data = pd.DataFrame(words['data']['statDescList']).rename(columns = rename)
# web_data = web_data[[col for col in rename.values() if col in web_data.columns]]


# data = pd.DataFrame()

# for idx, row in web_data.iterrows():
#     logger.info(f"Get statistic meta data ({idx + 1}/{web_data.shape[0]})")
#     api_data = self._get_api_results("StatisticMeta", row['데이터명'], rename = rename, _ts = _ts)
#     api_data[row.index] = row.tolist()
#     data = pd.concat([data, api_data])

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [15]:
response.text

''

# 6. stat_date

In [35]:
data.unique()[:-1]

array(['2015.1.25 08:00', '2015.3.5 08:00', '2015.4.25 08:00',
       '2015.6.5 08:00', '2015.7.25 08:00', '2015.9.5 08:00',
       '2015.10.24 08:00', '2015.12.18 08:00', '2015.12.5 08:00',
       '2015.1.25 06:00', '2015.2.21 06:00', '2015.3.27 06:00',
       '2015.4.25 06:00', '2015.5.22 06:00', '2015.6.27 06:00',
       '2015.7.25 06:00', '2015.8.21 06:00', '2015.9.27 06:00',
       '2015.10.24 06:00', '2015.11.27 06:00', '2015.12.27 06:00',
       '2015.1.23 06:00', '2015.3.22 06:00', '2015.4.23 06:00',
       '2015.6.21 06:00', '2015.7.23 06:00', '2015.9.24 06:00',
       '2015.10.22 06:00', '2015.11.20 06:00', '2015.12.20 06:00',
       '2015.1.17 12:00', '2015.2.16 12:00', '2015.3.15 12:00',
       '2015.4.16 12:00', '2015.5.16 12:00', '2015.6.14 12:00',
       '2015.7.15 12:00', '2015.8.13 12:00', '2015.9.13 12:00',
       '2015.10.16 12:00', '2015.11.14 12:00', '2015.12.16 12:00',
       '2015.1.31 17:00', '2015.2.29 17:00', '2015.3.29 17:00',
       '2015.4.30 17:00', '2015.5.31 17:00', '2015.6.28 17:00',
       '2015.7.31 17:00', '2015.8.30 17:00', '2015.9.30 17:00',
       '2015.10.31 17:00', '2015.11.29 17:00', '2015.12.31 17:00',
       '2015.1.31 12:00', '2015.2.29 12:00', '2015.3.29 12:00',
       '2015.4.29 12:00', '2015.5.31 12:00', '2015.6.28 12:00',
       '2015.7.31 12:00', '2015.8.30 12:00', '2015.9.27 12:00',
       '2015.10.31 12:00', '2015.11.27 12:00', '2015.12.27 12:00',
       '2015.1.9 08:00', '2015.2.7 08:00', '2015.3.08 08:00',
       '2015.4.05 08:00', '2015.5.09 08:00', '2015.6.11 08:00',
       '2015.7.05 08:00', '2015.8.07 08:00', '2015.9.06 08:00',
       '2015.10.8 08:00', '2015.11.7 08:00', '2015.12.6 08:00',
       '2015.1.4 06:00', '2015.2.05 06:00', '2015.3.06 06:00',
       '2015.4.03 06:00', '2015.5.07 06:00', '2015.6.05 06:00',
       '2015.7.03 06:00', '2015.8.05 06:00', '2015.9.04 06:00',
       '2015.10.04 06:00', '2015.11.5 06:00', '2015.12.4 06:00',
       '2015.01.31 00:00', '2015.02.29 00:00', '2015.03.31 00:00',
       '2015.04.30 00:00', '2015.05.31 00:00', '2015.06.30 00:00',
       '2015.07.31 00:00', '2015.08.31 00:00', '2015.09.30 00:00',
       '2015.10.31 00:00', '2015.11.30 00:00', '2015.12.31 00:00',
       '2015.2.27 12:00', '2015.5.22 12:00', '2015.8.21 12:00',
       '2015.11.20 12:00'], dtype=object)

In [38]:
pd.Series(data.unique()[:-1])

0       2015.1.25 08:00
1        2015.3.5 08:00
2       2015.4.25 08:00
3        2015.6.5 08:00
4       2015.7.25 08:00
             ...
101    2015.12.31 00:00
102     2015.2.27 12:00
103     2015.5.22 12:00
104     2015.8.21 12:00
105    2015.11.20 12:00
Length: 106, dtype: object

In [53]:
data.unique()[-16]

'2015.02.29 00:00'

In [52]:
pd.to_datetime(data.unique()[-16:-15], format = '%Y.%m.%d %H:%M')

ValueError: day is out of range for month, at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [54]:
url

'http://www.bok.or.kr/portal/stats/sddsTrgetStats/listStats.do?menuNo=200777'

In [73]:
categories = conf['data']['stat_date']['url_info']

for name, url in categories.items():
    logger.info(f"upload stat_date for {name} starts!")
    max_date = postgres_conn.get_maxmin_col(conf['schema_name'], conf['data']['stat_date']['table_name'], column = '공표일',
                            where = [f"카테고리 = '{name}'"])[0]

    start_year = conf['data']['stat_date']['start_year'] if max_date is None else max(max_date.year, conf['data']['stat_date']['start_year'])
    data = ''
    
    for year in range(start_year, datetime.now().year+1):
        if year != 2011:
            continue
        logger.info(f"processing year... {year}")
        data = get_statdate_table(f"{url}&year={year}", year)
        data['category'] = name
    break

2024-04-09 16:17:40,681 (335566890.py 4) INFO ::: upload stat_date for 통계종류별 공표일정 starts!
2024-04-09 16:17:40,682 (335566890.py 14) INFO ::: processing year... 2011

In [75]:
data

,index,static,info,info_processing,category
0,2011.01,통화 및 유동성,1.12 12:00 (2010.11),[1.12 12:00 (2010.11)],통계종류별 공표일정
1,2011.02,통화 및 유동성,2.10 12:00 (2010.12),[2.10 12:00 (2010.12)],통계종류별 공표일정
2,2011.03,통화 및 유동성,3.9 12:00 (2011.1),[3.9 12:00 (2011.1)],통계종류별 공표일정
3,2011.04,통화 및 유동성,4.11 12:00 (2011.2),[4.11 12:00 (2011.2)],통계종류별 공표일정
4,2011.05,통화 및 유동성,5.12 12:00 (2011.3),[5.12 12:00 (2011.3)],통계종류별 공표일정
...,...,...,...,...,...
199,2011.08,소비자동향조사,8.25 06:00 (2011.8),[8.25 06:00 (2011.8)],통계종류별 공표일정
200,2011.09,소비자동향조사,9.27 06:00 (2011.9),[9.27 06:00 (2011.9)],통계종류별 공표일정
201,2011.10,소비자동향조사,10.27 06:00 (2011.10),[10.27 06:00 (2011.10)],통계종류별 공표일정
202,2011.11,소비자동향조사,11.24 06:00 (2011.11),[11.24 06:00 (2011.11)],통계종류별 공표일정
203,2011.12,소비자동향조사,12.27 06:00 (2011.12),[12.27 06:00 (2011.12)],통계종류별 공표일정

In [62]:
data[data['date'].isnull()]

       index static info date    category
159  2011.04  산업연관표  NaN  NaN  통계종류별 공표일정
173  2011.06    고용표  NaN  NaN  통계종류별 공표일정

In [76]:
p = '[{\'name\': \'모빌리티서비스\', \'description\': "모빌리티(Mobility)는 사람들의 이동을 편리하게 하는 데 기여하는 각종 서비스나 이동수단을 폭넓게 말하는 개념이다. 최근에는 버스, 택시, 철도, 공유차량 등 다양한 이동수단을 제조 단계에서부터 서비스와 결합시키는 \'서비스로서의 모빌리티(마스/MaaS, Mobility as a Service)’가 모빌리티서비스에서 주목되고 있다. 교통 산업, 운송업, 자동차 산업, 자율주행기술, 전기차 산업, 공유 모빌리티 산업과 관련이 있다.", \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}, {\'name\': \'화물운송\', \'description\': \'안전운임제의 적용 여부, 유가 상승, 화물운송 입찰제도에 대한 화물주와 차주 간의 이견 발생 등의 이슈가 있으며 물류 운송 및 배송업과 관련 있다.\', \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}, {\'name\': \'국제물류\', \'description\': \'국제물류는 해운운임 상승과 선박 지연, 우크라이나 전쟁으로 인한 노선 중단 및 국제 유가 상승, 코로나19로 인한 중국의 항만 봉쇄 등의 이슈에 영향을 받으며 물류, 유통, 항만 등과 관련 있다.\', \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}, {\'name\': \'해운항만물류\', \'description\': \'코로나 팬데믹 시기의 항만 적체 현상과 글로벌 물류 공급망 이슈, 유가 및 물류비 상승, 물류 적체와 실질 선복 공급량의 감소 등의 이슈가 있다.\', \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}, {\'name\': \'코로나19\', \'description\': \'2019년 처음 발생하여 보고된 급성 호흡기 전염병으로서 전 세계에 빠른 속도로 확산되어 수많은 확진자와 사망자를 발생시켰다. 높은 감염력과 치사율로 인해 비대면 문화를 확산시켰으며 제약 바이오 및 의료기기 등과 관련 있다.\', \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}, {\'name\': \'해운운임\', \'description\': \'화물 등을 운송하는 데 드는 비용으로서 컨테이너 해운시장에서의 공급망 붕괴, 중국 상해항 봉쇄, IMO 환경 규제로 인한 실지 선복 증가의 제약 등의 이슈가 있다. 해상물류 및 해운업, 조선업 분야와 관련 있다.\', \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}]'

In [80]:
p

'[{\'name\': \'모빌리티서비스\', \'description\': "모빌리티(Mobility)는 사람들의 이동을 편리하게 하는 데 기여하는 각종 서비스나 이동수단을 폭넓게 말하는 개념이다. 최근에는 버스, 택시, 철도, 공유차량 등 다양한 이동수단을 제조 단계에서부터 서비스와 결합시키는 \'서비스로서의 모빌리티(마스/MaaS, Mobility as a Service)’가 모빌리티서비스에서 주목되고 있다. 교통 산업, 운송업, 자동차 산업, 자율주행기술, 전기차 산업, 공유 모빌리티 산업과 관련이 있다.", \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}, {\'name\': \'화물운송\', \'description\': \'안전운임제의 적용 여부, 유가 상승, 화물운송 입찰제도에 대한 화물주와 차주 간의 이견 발생 등의 이슈가 있으며 물류 운송 및 배송업과 관련 있다.\', \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}, {\'name\': \'국제물류\', \'description\': \'국제물류는 해운운임 상승과 선박 지연, 우크라이나 전쟁으로 인한 노선 중단 및 국제 유가 상승, 코로나19로 인한 중국의 항만 봉쇄 등의 이슈에 영향을 받으며 물류, 유통, 항만 등과 관련 있다.\', \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}, {\'name\': \'해운항만물류\', \'description\': \'코로나 팬데믹 시기의 항만 적체 현상과 글로벌 물류 공급망 이슈, 유가 및 물류비 상승, 물류 적체와 실질 선복 공급량의 감소 등의 이슈가 있다.\', \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}, {\'name\': \'코로나19\', \'description\': \'2019년 처음 발생하여 보고된 급성 호흡기 전염병으로서 전 세계에 빠른 속도로 확산되어 수많은 확진자와 사망자를 발생시켰다. 높은 감염력과 치사율로 인해 비대면 문화를 확산시켰으며 제약 바이오 및 의료기기 등과 관련 있다.\', \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}, {\'name\': \'해운운임\', \'description\': \'화물 등을 운송하는 데 드는 비용으로서 컨테이너 해운시장에서의 공급망 붕괴, 중국 상해항 봉쇄, IMO 환경 규제로 인한 실지 선복 증가의 제약 등의 이슈가 있다. 해상물류 및 해운업, 조선업 분야와 관련 있다.\', \'type\': {\'name\': \'keyword\', \'country\': \'KR\', \'code\': None}}]'

In [89]:
json.dumps([{'a': 'b'}, {"cc": 'sdfs'}])

'[{"a": "b"}, {"cc": "sdfs"}]'

In [84]:
import json
json.loads(f"{p}")

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 3 (char 2)

# TEST

In [114]:
stat_list[stat_list['통계표코드'] == '402Y014']

       통계표코드 주기
332  402Y014  M

In [88]:
p = bok.get_statistic_search(stat, 
                                         period = period, 
                                         start = period_maker(conf['api_start_date'], period), 
                                         end = period_maker(os.environ['_ts'], period), 
                                         _ts = os.environ['_ts'], rename = conf['data']['stat_search']['rename'])

2024-02-06 01:38:19,580 (api.py 92) INFO ::: Read 100000/295265 rows....
2024-02-06 01:38:30,439 (api.py 92) INFO ::: Read 200000/295265 rows....
2024-02-06 01:38:40,221 (api.py 92) INFO ::: Read 295265/295265 rows....

In [89]:
p[p.duplicated(key, keep = False)].sort_values(key)

Empty DataFrame
Columns: [통계표코드, 통계명, 통계항목코드1, 통계항목명1, 통계항목코드2, 통계항목명2, 통계항목코드3, 통계항목명3, 통계항목코드4, 통계항목명4, 단위, 가중치, 시점, 값, _ts]
Index: []

In [106]:
p = bok.get_statistic_search('404Y014', 
                                         period = 'M', 
                                         start = period_maker(conf['api_start_date'], 'M'), 
                                         end = period_maker(os.environ['_ts'], 'M'), 
                                         _ts = os.environ['_ts'], rename = conf['data']['stat_search']['rename'])

2024-02-06 01:44:19,060 (api.py 92) INFO ::: Read 100000/295265 rows....
2024-02-06 01:44:29,230 (api.py 92) INFO ::: Read 200000/295265 rows....
2024-02-06 01:44:37,935 (api.py 92) INFO ::: Read 295265/295265 rows....